#my_header {
    color:hsl(0, 71%, 43%);
    font-weight: 400;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:xx-large;
}

.first_recipe {
    color: aqua;
    font-family: 'Times New Roman', Times, serif;
}

#title_pie {
    background-color: hsl(105, 86%, 42%);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.name {
    color: rgb(222, 27, 27);
}